@import '../../scss/mixins.scss';
@import '../../scss/vars.scss';

.checkbox {
  &__container {
    display: flex;
    align-items: center;
  }

  &[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 16px;
    height: 17px;
    outline: none;
    cursor: pointer;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      border: 1px solid $placeholder;
      border-radius: 2px;
    }

    &:hover::before {
      border: 1px solid $blue;
    }

    &:checked::before {
      border: none;
      background-image: url(../../assets/icons/checkbox_active.svg);
    }
  }
}
