@import '../../../scss/vars.scss';
@import '../../../scss/mixins.scss';

.profileVerifyIdentity {
  &__modal {
    padding-bottom: 20px;
    min-width: 700px;
  }

  // @media screen and (max-width: $md) {
  //   &__modal {
  //     min-width: 500px;
  //   }
  // }
  @media screen and (max-width: $sm) {
    &__modal {
      min-width: initial;
    }
  }
  @media screen and (max-width: $xs) {
    &__modal {
      .profileModal__content {
        padding: 0 16px;
      }
    }
  }
  @media screen and (max-width: $xxs) {
    &__modal {
      .profileModal__content {
        padding: 0;
      }
    }
  }
}
